@charset "UTF-8";
#page-content{
  min-height: 400px;
}

/*Responsive Images*/
.align-image-right, .align-image-left, .alignright, .alignleft {
  max-width: 40%;
  height: auto;
}
@media (max-width:480px) {
  img[width], .align-image-right, .align-image-left, .alignright, .alignleft {
    width: auto;
    max-width: 100%;
    max-height: 400px;
  }
  .align-image-right, .align-image-left, .alignright, .alignleft {
    float: none;
    display:block;
    margin: 0 0 15px 0;
  }
  .mobile-banner{
    border:none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: block;
  }
}

/* TBS Modal Fix */
@media (max-height: 640px) {
  div.modal {
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
}



#scroll-control{bottom: 15px; text-align: right; padding-right:15px;}

/* Hide Scrollbars on webkit */
.content .span3::-webkit-scrollbar,  ul.fluid-nav::-webkit-scrollbar {
  display: none;
}

/* Saved List Adjustments */
.pull-right.no-mobile-float{float:none !important;}

