// centerer
@mixin centerer($position:relative) {
    position: $position;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// v-center
@mixin v-center($position:relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

// h-center
@mixin h-center($position:relative) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

// linear
@mixin linear($float:left) {
    display: inline-block;
    position: relative;
    float: $float;
}
