//colors
$summit-blue: #01506F;
$lt-accent-blue: #0CF;
$md-accent-blue: #008FC5;
$lt-gray-accent: #DDD;
$md-gray-accent: #CCC;
$dk-gray-accent: #888;
$warning-lt: #fcf8e3;
$warning-dk: #c09853;
$success-lt: #DFF0D8;
$success-dk: #468847;
$danger-lt: #f2dede;
$danger-dk: #b94a48;
$alert-lt: #d9edf7;
$alert-dk: #3A87AE;
$summit-orange: orange;
$soft-white: #F9F9F9;
